@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    background-color: #f0f0f0;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.alert {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.alert-danger {
    background-color: #fe4646;
}